/* ESTILOS DEL CONTENEDOR DE LOGIN */

/* FONDO DEL LOGIN */
.fondo-login {
    background-image: url(/img/fondo-login-register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* CONTENEDOR MENSAJE DE ERROR */
.error {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #E44242;
    font-style: italic;
    font-weight: bold;
  
  }

/* CONTENEDOR DEL LOGIN */
.contenedor-login {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 80vw;
    transition: all 1s ease;
}

.contenedor-login.dark-mode {
    background-color: #6A6D6F;
    color: white;
}

.contenedor-login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-login label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contenedor-login input {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.contenedor-login input:focus {
    outline: solid 3px rgba(146, 220, 229, 0.5 );
}

.contenedor-login a {
    text-decoration: none;
    color: #001F54;
    transition: all 1s ease;
}

.contenedor-login a.dark-mode {
    color: white;
}

.contenedor-login p {
    text-align: center;
    margin-bottom: 1rem;
}

/* TITULO DEL LOGIN */
.titulo-login {
    text-align: center;
    margin-bottom: 2rem !important;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: black !important;
    transition: all 1s ease;
}

.titulo-login.dark-mode {
    color: white !important;
}


/* BOTON DE ACCEDER */
.acceder {
    display: flex;
    background-color: #001F54;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    transition: all 0.3s ease-in-out;
}

/* FRASE DEL LOGIN */
.frase-login p {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.4rem;
    color: white;
    margin-top: 1rem;
}

/* ANIMACIONES */
@keyframes splash {
    0% {
        box-shadow: 0 0 0 rgba(138, 227, 252, 0.89);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 255, 0);
    }
}


/* MEDIA QUERIES DEL LOGIN */

@media (min-width: 768px) {
    
    /* FONDO DEL LOGIN */
    .fondo-login {
        flex-direction: row-reverse;
        padding: 7rem 3rem;
    }

    /* FRASE DEL LOGIN */
    .frase-login {
        padding-right: 2rem;
    }

    /* CONTENEDOR DEL LOGIN */
    .contenedor-login {
        width: 60vw;
    }

    /*  BOTON ACCEDER */
    .acceder:hover {
        animation: splash 0.8s;
        background-color: #52DEE5;
    }
}

@media (min-width: 1200px) {
    
    .contenedor-login {
        width: 30vw;
    }

    .frase-login {
        padding-right: 4rem;
    }

    .frase-login p {
        font-size: 1.8rem;
    }
}