/*  ESTILOS DE LA PAGINA DE PAGINA NO ENCONTRADA */

/* FONDO DEL CONTENEDOR */
.msg-not-found {
    background-color: #92DCE5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MENSAJE QUE EXPLICA QUE NO SE ENCONTRO LA PAGINA */
.not-found-text {
    background-color: white;
    padding: 5%;
    margin: 10%;
    border-radius: 1rem;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
}

.not-found-text h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}

.not-found-text h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* IMAGEN DE MENSAJE NO ENCONTRADO */
.not-found-image img {
    width: 100%;
}

/* MEDIA QUERIES DE PAGINA NO ENCONTRADA */
@media (min-width: 768px) {
    /* FONDO DEL CONTENEDOR */
    .msg-not-found {
        flex-direction: row;
    }

    /* IMAGEN DE MENSAJE NO ENCONTRADO */
    .not-found-image  {
        width: 40%;
        margin: 2rem;
    }

    /* MENSAJE QUE EXPLICA QUE NO SE ENCONTRO LA PAGINA */
    .not-found-text {
        margin: 10% 5%;
    }
}