/* ESTILOS DEL DETALLE DE PRODUCTO */

/* IMAGENES EN MINIATURA */
.contenedor-imagenes-pequeñas {
    display: none;   
}


/* IMAGEN PRINCIPAL */
.contenedor-imagen-principal {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

.contenedor-imagen-principal img {
    width: 100%;
}


/* INFORMACION DEL PRODUCTO */
.contenedor-detalles-producto {
    padding: 1.5rem 1rem;
}

.informacion-producto p, h3 {
    margin: 3rem 0;
    color: black;
    transition: all 1s ease;
}

.informacion-producto p.dark-mode, h3.dark-mode {
    color: white;
}

.informacion-producto h3 {
    font-size: 1.6rem;
}

.marca {
    font-weight: bold;
    font-size: 1.5rem;
    color: grey;
}

.precio {
    font-weight: bold;
    font-size: 2rem;
}


/* BOTONES CANTIDAD Y FAVORITOS */
.contenedor-cantidad-favoritos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

/* BOTON CANTIDAD */
.boton-cantidad {
    width: 60%;
    display: flex;
    align-items: center;
}

.boton-cantidad p {
    display: inline;
    margin-right: 1rem;
    font-weight: bold;
    color: black;
    transition: all 1s ease;
}

.boton-cantidad p.dark-mode {
    color: white;
}

.boton-cantidad button, input {
    height: 2rem;
    border: none;
}

.boton-cantidad input {
    width: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.boton-cantidad button {
    width: 2rem;
    font-size: 1.5rem;
}

/* BOTON FAVORITOS */
.boton-favoritos {
    width: 40%;
}

.boton-favoritos p {
    display: inline;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    transition: all 1s ease;
}

.boton-favoritos p.dark-mode {
    color: white;
}

.boton-favoritos button {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: black;
    transition: all 1s ease;
}

.boton-favoritos button.dark-mode {
    color: white;
}

/* BOTONES COMPRAR Y CARRITO */
.botones-comprar-carrito {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones-comprar-carrito button {
    width: 100%;
    margin: 1rem 0;
    border: none;
    height: 3rem;
    padding: 0.5rem;
    color: white;
    background-color: #52DEE5;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

/* BOTONES EDITAR Y ELIMINAR */
.botones-admin {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones-admin button {
    width: 100%;
    margin: 1rem 0;
    border: none;
    height: 3rem;
    padding: 0.5rem;
    background-color: #52DEE5;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.botones-admin a, form {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-eliminar {
    background-color: #E74C3C !important;
    color: white !important;
}

/* ANIMACIONES */
@keyframes splash {
    0% {
        box-shadow: 0 0 0 rgba(138, 227, 252, 0.89);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 255, 0);
    }
}


/* MEDIA QUERIES DEL DETALLE DE PRODUCTO */
@media (min-width: 768px) {
    
    /* CONTENIDO COMPLETO */
    main {
        display: flex;
        padding: 3rem !important;
    }

    /* CONTENEDOR DE IMAGENES */
    .imagenes-producto {
        display: flex;
        width: 50%;
        height: 50%;
    }

    /* IMAGENES EN MINIATURA */
    .contenedor-imagenes-pequeñas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        margin: 1rem 0;
    }

    .contenedor-imagenes-pequeñas img {
        width: 100%;
        border-radius: 0.5rem;
    }

    
    /* IMAGEN PRINCIPAL */
    .contenedor-imagen-principal {
        width: 80%;
    }


    /* INFORMACION DEL PRODUCTO */
    .contenedor-detalles-producto {
        width: 50%;
        margin-top: 1rem;
        background-color: white;
        border-radius: 0.5rem;
        transition: all 1s ease;
    }

    .contenedor-detalles-producto.dark-mode {
        background-color: #6A6D6F;
    }

    .informacion-producto p, h3 {
        margin: 1rem 0;
    }

    /* BOTONES CANTIDAD Y FAVORITOS */
    .contenedor-cantidad-favoritos {
        margin: 1rem 0;
    }

    /* BOTONES COMPRAR Y CARRITO */
    .botones-comprar-carrito {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botones-comprar-carrito button:hover {
        animation: splash 0.8s;
    }

    /* BOTONES EDITAR Y ELIMINAR */
    .botones-admin {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botones-admin button {
        transition: all 0.3s ease-in-out;
    }

    .botones-admin button:hover {
        scale: 1.03;
    }

    /* BOTON CANTIDAD */
    .boton-cantidad input {
        background-color: #f5f5f5;
    }

    .boton-cantidad button {
        background-color: gainsboro;
    }

}

@media (min-width: 1200px) {

    .informacion-producto p, h3 {
        margin: 2rem 0;
    }
}