/* ESTILOS DEL CARRITO DE COMPRA */

/* TITULO DEL MAIN */
.titulo {
    margin: 1rem 0;
}

.titulo h3 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

/* CONTENEDOR DE LOS PRODUCTOS */
.contenedor-productos {
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0,0, 0.3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

/* PARTE SUPERIOR DEL CONTENEDOR, NOMBRE - CANTIDAD - PRECIO */
.encabezado-productos {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 32%;
}

.encabezado-productos p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
}

.encabezado-productos div {
    width: 33%;
    
}

/* CONTENEDOR DE LA INFORMACION DEL PRODUCTO */
.informacion-producto {
    display: flex;
    align-items: center;
    border: solid 1px gray;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.imagen-producto {
    width: 20%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.imagen-producto img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0 0 0.5rem;
}

.nombre-producto {
    width: 30%;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
}

.precio-producto {
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.boton-eliminar-producto {
    width: 10%;
    display: flex;
    justify-content: center;
}

/* BOTON DE CANTIDAD */
.boton-cantidad {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-cantidad button, input {
    height: 2rem;
    border: none;
}

.boton-cantidad input {
    width: 2rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #f5f5f5;
}

.boton-cantidad button {
    width: 2rem;
    font-size: 1.5rem;
    background-color: rgb(186, 184, 184);
}

/* BOTON DE ELIMINAR PRODUCTO */
.boton-eliminar-producto button {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    color: #52DEE5;
    font-size: 1.5rem;
}

/* CONTENEDOR PRECIOS Y BOTON DE COMPRAR */
.contenedor-precio-total {
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0,0, 0.3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio-total p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
}

/* BOTON FINALIZAR */
.boton-finalizar-compra button {
    border: none;
    height: 3rem;
    padding: 0.5rem;
    color: white;
    background-color: #52DEE5;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

/* ANIMACIONES */
@keyframes splash {
    0% {
        box-shadow: 0 0 0 rgba(138, 227, 252, 0.89);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 255, 0);
    }
}


/* MEDIA QUERIES DEL CARRITO DE COMPRA */

@media (min-width: 768px) {

    /* CONTENEDOR PRECIOS Y BOTON DE COMPRAR */
    .contenedor-precio-total {
        flex-direction: column;
        width: 30%;
        height: 1%;
        padding: 1.5rem;
        align-items: normal;
    }

    .contenedor-precio-total h4 {
        margin-bottom: 0.5rem;
    } 

    .precio-total {
        margin: 0.6rem 0;
    }


    /* BOTON FINALIZAR */
    .boton-finalizar-compra button {
        width: 100%;
    }

    .boton-finalizar-compra button:hover {
        animation: splash 0.8s;
    }

    /* CONTENEDOR DE LOS PRODUCTOS */
    .contenedor-productos {
        width: 70%;
    }


    /* CONTENEDOR DE LOS PRINCIPAL Y FORMULARIO */
    .contenedor-principal {
        margin: 2rem 1rem 4rem 1rem;
    }

    .contenedor-principal form {
        display: flex;
    }

    /* TITULO DEL MAIN */
    .titulo {
        margin: 2rem 0;
    }
}

@media (min-width: 1200px) {

    /* CONTENEDOR DE LOS PRINCIPAL Y FORMULARIO */
    .contenedor-principal {
        padding: 0 8rem;
    }
}

/* ESTILO DEL FORMULARIO DE CREACION DEL PRODUCTO */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.products-wrapper {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.products-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-detail {
    display:contents;
    flex-wrap: wrap;
    gap: 20px;
}

.form-label {
    display:flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buy-now-button {
    display: inline-block;
    background-color: #52DEE5;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
