
/* ESTILOS DEL BANNER DE IMAGENES */
.slider-box {
    width: 100%;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
}

.slider-box img {
    width: 100%;
    height: 100%;
}

.banner-imagenes {
    display: none;
}

/* ANIMACIONES */
@keyframes slide {
    0% {margin-left: 0;}
    16% {margin-left: 0;}

    21% {margin-left: -100%;}
    36% {margin-left: -100%;}

    42% {margin-left: -200%;}
    57% {margin-left: -200%;}

    63% {margin-left: -300%;}
    78% {margin-left: -300%;}

    84% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

/* MEDIA QUERIES DEL BANNER */

    @media (min-width: 768px) {
        .banner-imagenes {
            display: block;
            margin: 0 3rem;
        }

        .banner-imagenes-movil {
            display: none;
        } 
    }

    @media (min-width: 1200px) {
        
        .banner-imagenes {
            margin: 0 6rem;
        }

    }


/* ESTILOS DE LOS PRODUCTOS */

/* CONTENEDORES */
.contenedor-productos-destacados, .contenedor-productos-ofertas {
    background-color: white;
    margin: 2rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0,0, 0.3);
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
}

.contenedor-productos img {
    width: 100%;
    height: 100%;
}

.titulo-contenedor {
    margin: 0.3rem;
    color: black;
    transition: all 1s ease;
}

/* PRODUCTOS */
.producto {
    width: 50%;
    border: solid 1px #E5E7E9;
}

.producto a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 1rem;
}

.producto h4 {
    margin-bottom: 0.3rem;
}

.descuento {
    display: inline-block;
    background-color: #52DEE5;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: white;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.ver-mas {
    margin: 0.5rem 5% 0.5rem 70%;
    text-align: center;
    font-weight: bold;
    background-color: #52DEE5;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: white;
}

.ver-mas a {
    text-decoration: none;
    color: white;
    display: block;
}

/* ANIMACIONES */
@keyframes splash {
    0% {
        box-shadow: 0 0 0 rgba(138, 227, 252, 0.89);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 255, 0);
    }
}

/* MEDIA QUERIES DE LOS PRODUCTOS */

    @media (min-width: 768px) {

        .contenedor-productos {
            flex-wrap: nowrap;
        } 

        .contenedor-productos-destacados, .contenedor-productos-ofertas {
            margin: 2rem 3rem;
        }

        .ver-mas {
            margin: 0.5rem 5% 0.5rem 80%;
            transition: all 0.3s ease-in-out;
        }

        .ver-mas:hover {
            transform: scale(1.04);
            animation: splash 0.8s;
        }
    }

    @media (min-width: 1200px) {

        .contenedor-productos-destacados, .contenedor-productos-ofertas {
            margin: 2rem 6rem;
            background-color: transparent;
            box-shadow: none;
        }

        .titulo-contenedor {
            margin-bottom: 2rem;
            font-size: 1.3rem;
        }

        .titulo-contenedor.dark-mode {
            color: white;
        }

        .producto {
            margin: 0.5rem;
            border-radius: 0.5rem;
            background-color: white;
            transition: all 0.3s ease-in-out;
        }

        .producto:hover {
            transform: scale(1.02);
            box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
        }

        .noticias {
            margin: 2rem 3rem !important;
        }
    }


/* ESTILOS NOTICIAS */

.noticias {
    background-color: white;
    margin: 2rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0,0, 0.3);
}

.noticias img {
    width: 100%;
    height: 100%;
}

.img-noticia {
    margin-bottom: 0.5rem;
}

.ver-mas-noticias {
    margin: 1rem 5% 0.5rem 60%;
    text-align: center;
    font-weight: bold;
    background-color: #52DEE5;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: white;
}

.ver-mas-noticias a {
    text-decoration: none;
    color: white;
    display: block;
}

/* MEDIA QUERIES DE LAS NOTICIAS */

    @media (min-width: 768px) {
        .contenedor-noticias {
            display: flex;
            margin: 0 2rem;
        }

        .noticias {
            width: 50%;
        }

        .ver-mas-noticias {
            transition: all 0.3s ease-in-out;
        }

        .ver-mas-noticias:hover {
            transform: scale(1.04);
            animation: splash 0.8s;
        }
    }

    @media (min-width: 1200px) {
        .contenedor-noticias {
            margin: 0 5rem;
        }
    }


/* ESTILOS BANNER DE MARCAS */

.slider-box-marcas {
    width: 100%;
    overflow: hidden;
    background-color: white;
    transition: all 1s ease;
}

.slider-box-marcas.dark-mode {
    background-color: #6A6D6F;
}

.slider-box-marcas ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 9s infinite alternate ease-in-out;
}

.slider-box-marcas li {
    width: 33.3%;
    padding: 2rem;
    list-style: none;
}

.slider-box-marcas img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    30% {margin-left: 0;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}


/* MEDIA QUERIES DEL BANNER DE MARCAS */

    @media (min-width: 768px) {
        
        .slider-box-marcas ul {
            width: 100%;
            animation: none;
        }

        .slider-box-marcas li {
            width: 11%;
            padding: 1rem;
        }

    }

    @media (min-width: 1200px) {

        .slider-box-marcas li {
            padding: 2.5rem;
        }

    }

