<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
        
        <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
        <section class="menu-sup">

            <article class="contenedor-logo">
                <img src="/img/logo.webp" alt="Logo laguz">
            </article>

            <!--------------- FORMULARIO DE BUSQUEDA ------------------>
            <article class="barra-buscar">
                <form action="">
                    <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </article>

            <!------------------ LOGIN Y REGISTER --------------------->
            <article class="login-icon">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </article>

            <article class="cart-icon">
                <a href="/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </article>

        </section>

        <!-------------------- BARRA DE NAVEGACION ------------------------->
        <section class="nav-bar">

            <!----------------- BOTON DESPLEGABLE ------------------------>
            <article class="button-categorias">
                <button name="categorias" id="categorias">
                    <p>Categorias <i class="fa-solid fa-bars"></i></p>
                </button>
            </article>


            <!---------------------- CATEGORIAS -------------------------->
            <nav class="nav-categorias">
                <ul>
                    <li><a href="">Laptops</a></li>
                    <li><a href="">Oficina</a></li>
                    <li><a href="">Estudiantes</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Gamer</a></li>
                </ul>
            </nav>
        </section>

    </header>

    <section class="banner-imagenes-movil">
        <article class="slider-box">
            <ul>
                <li><img src="/img/banner/banner-1-movil.webp"></li>
                <li><img src="/img/banner/banner-2-movil.webp"></li>
                <li><img src="/img/banner/banner-3-movil.webp"></li>
                <li><img src="/img/banner/banner-4-movil.webp"></li>
                <li><img src="/img/banner/banner-5-movil.webp"></li>
            </ul>
        </article>
    </section>

    <section class="banner-imagenes">
        <article class="slider-box">
            <ul>
                <li><img src="/img/banner/banner-1.webp" id="banner-1"></li>
                <li><img src="/img/banner/banner-2.webp"></li>
                <li><img src="/img/banner/banner-3.webp"></li>
                <li><img src="/img/banner/banner-4.webp"></li>
                <li><img src="/img/banner/banner-5.webp"></li>
            </ul>
        </article>
    </section>

    <main>
        <section class="contenedor-productos-destacados">
            <article class="titulo-contenedor">
                <h3>Productos Destacados</h3>
            </article>

            <article>
                <article class="contenedor-productos">

                    <div class="producto">
                        <div>
                            <img src="/img/productos/producto-1.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 78.000</h4>
                            <p>Monitor HKC ANTTEQ F2145M 21.45" 75hz</p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/producto-2.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 84.000</h4>
                            <p>Monitor HKC ANTTEQ F238M 23.8" IPS 75hz</p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/producto-3.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 85.000</h4>
                            <p>Watercooling - Refirigeración Líquida para CPU/p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/producto-4.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 44.000</h4>
                            <p>Coolers para CPU Redragon Effect RGB Air 120mm CC-2000</p>
                        </div>
                    </div>

                </article>
            </article>

            <article class="ver-mas">
                <a href="">Ver más <i class="fa-solid fa-chevron-right"></i></a>
            </article>
        </section>

        <section class="contenedor-productos-ofertas">
            <article class="titulo-contenedor">
                <h3>Ofertas</h3>
            </article>


            <article>
                <article class="contenedor-productos">

                    <div class="producto">
                        <div>
                            <img src="/img/productos/oferta-1.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 78.000 <div class="descuento">20% Off</div></h4>
                            <p>Smartwatch Amazfit Bip 3 Pink</p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/oferta-2.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 200.000 <div class="descuento">17% Off</div></h4>
                            <p>XP-PEN Artist 22R PRO</p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/oferta-3.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 130.000 <div class="descuento">25% Off</div></h4>
                            <p>Monitor Philips 272V8LA/55 27'' FULL HD</p>
                        </div>
                    </div>

                    <div class="producto">
                        <div>
                            <img src="/img/productos/oferta-4.webp" alt="">
                        </div>

                        <div>
                            <h4>$ 65.000 <div class="descuento">15% Off</div></h4>
                            <p>Auricular Redragon Zeus X White H510W-RGB</p>
                        </div>
                    </div>

                </article>
            </article>

            <article class="ver-mas">
                <a href="">Ver más <i class="fa-solid fa-chevron-right"></i></a>
            </article>
        </section>

        <section class="contenedor-noticias">

            <article class="noticias">
                <div class="img-noticia">
                    <img src="/img/noticia-1.jpeg" alt="">
                </div>
                    
                <div>
                    <h3>IBM anuncia el comienzo de la “era de la utilidad cuántica” y anticipa un superordenador en 2033</h3>
    
                    <p>La compañía asegura haber alcanzado un sistema de computación que no se puede simular con procedimientos clásicos</p>
                </div>
                
                <div class="ver-mas-noticias">
                    <a href="https://elpais.com/tecnologia/2023-12-04/ibm-anuncia-el-comienzo-de-la-era-de-la-utilidad-cuantica-y-anticipa-un-superordenador-en-2033.html" target="_blank">
                    Ver más <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </article>

            <article class="noticias">
                <div class="img-noticia">
                    <img src="/img/noticia-2.webp" alt="">
                </div>
                    
                <div>
                    <h3>Microsoft entra en el consejo de OpenAI como observador, pero sin derecho a voto</h3>
    
                    <p>Sam Altman ya es de nuevo jefe de la firma de inteligencia artificial: “Se escribirán libros de lo que ha pasado”</p>
                </div>
                 
                <div class="ver-mas-noticias">
                    <a href="https://elpais.com/tecnologia/2023-11-30/microsoft-entra-en-el-consejo-de-openai-como-observador-pero-sin-derecho-a-voto.html" target="_blank">
                    Ver más <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </article>

        </section>

        <section class="banner-marcas">
            <article class="slider-box-marcas">
                <ul>
                    <li><img src="/img/marcas/marca-1.svg"></li>
                    <li><img src="/img/marcas/marca-2.svg"></li>
                    <li><img src="/img/marcas/marca-3.svg"></li>
                    <li><img src="/img/marcas/marca-4.svg"></li>
                    <li><img src="/img/marcas/marca-5.svg"></li>
                    <li><img src="/img/marcas/marca-6.svg"></li>
                    <li><img src="/img/marcas/marca-7.svg"></li>
                    <li><img src="/img/marcas/marca-8.svg"></li>
                    <li><img src="/img/marcas/marca-2.svg"></li>
                </ul>
            </article>
        </section>
    </main>

    <footer>
        <!----------------- LOGO FOOTER ------------------------>
        <section class="contenedor-logo-footer">
            <img src="/img/logo.webp" alt="Logo pie de pagina">
        </section>

        <!----------------- LINKS DEL FOOTER ------------------------>
        <section class="enlaces">
            <article>
                <a href="" target="_blank">Cambios y devoluciones</a>
                <a href="" target="_blank">Envíos y entregas</a>
                <a href="" target="_blank">Políticas de garantías</a>
                <a href="" target="_blank">Términos y condiciones</a>
            </article>

            <article>
                <a href="" target="_blank">Nosotros</a>
                <a href="" target="_blank">Políticas de privacidad</a>
                <a href="" target="_blank">Preguntas frecuentes</a>
                <a href="" target="_blank">Trabaja con nosotros</a>
            </article>
        </section>

        <!----------------- REDES SOCIALES ------------------------>
        <section class="redes-sociales">
            <article class="contactanos">Contactanos</article>

            <article class="iconos-redes">
                <a href="https://www.youtube.com/" target="_blank"><div>
                    <i class="fa-brands fa-youtube"></i>
                </div></a>

                <a href="https://www.facebook.com/" target="_blank"><div>
                    <i class="fa-brands fa-square-facebook"></i>
                </div></a>

                <a href="https://www.instagram.com/" target="_blank"><div>
                    <i class="fa-brands fa-instagram"></i>
                </div></a>

                <a href="https://www.twitter.com/" target="_blank"><div>
                    <i class="fa-brands fa-twitter"></i>
                </div></a>

                <a href="https://www.linkedin.com/" target="_blank"><div>
                    <i class="fa-brands fa-linkedin"></i>
                </div></a>
            </article>

            <article class="mensaje-inf">
                <p>Tu brújula en el vasto océano tecnológico.</p>
            </article>
        </section>
    </footer>
</body>
</html>