<!-- Paritials head -->
 
<%- include('./partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-login.css" }) %>

<body>
    <!--Partials header -->
    <%- include('./partials/header.ejs') %>

    <main>
        <!----------------- FORMULARIO DE LOGIN ------------------------>
        <section class="fondo-login">
            <article class="contenedor-login">
                <form action="" method="post">

                    <!----------------- TITULO DEL FORMULARIO ------------------------>
                    <label class="titulo-login">Acceder</label>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="usuario">Usuario o email</label>
                    <input type="text" id="usuario" required>

                    <label for="contrasenia">Contraseña</label>
                    <input type="password" id="contrasenia" required>

                    <!----------------- LINKS DEL FORMULARIO ------------------------>
                    <p><a href="">¿Olvidaste tu contraseña?</a> | <a href="/user/register">Crear cuenta</a></p>

                    <!----------------- BOTON PARA ENVIAR EL FORMULARIO ------------------------>
                    <button type="submit" class="acceder">Acceder</button>
                </form>
            </article>

            <!----------------- FRASE DEL LOGIN PARA RECIBIR A LOS USUARIOS ------------------------>
            <article class="frase-login">
                <p>Navega hacia la innovación al ingresar a un océano de oportunidades tecnológicas.</p>
            </article>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>