<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
        
        <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
        <section class="menu-sup">

            <article class="contenedor-logo">
                <a href="/">
                    <img src="/img/logo.webp" alt="Logo laguz">
                </a>
            </article>

            <!--------------- FORMULARIO DE BUSQUEDA ------------------>
            <article class="barra-buscar">
                <form action="">
                    <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </article>

            <!------------------ LOGIN Y REGISTER --------------------->
            <article class="login-icon">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </article>

            <article class="cart-icon">
                <a href="/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </article>

        </section>

        <!-------------------- BARRA DE NAVEGACION ------------------------->
        <section class="nav-bar">

            <!----------------- BOTON DESPLEGABLE ------------------------>
            <article class="button-categorias">
                <button name="categorias" id="categorias">
                    <p>Categorias <i class="fa-solid fa-bars"></i></p>
                </button>
            </article>


            <!---------------------- CATEGORIAS -------------------------->
            <nav class="nav-categorias">
                <ul>
                    <li><a href="">Laptops</a></li>
                    <li><a href="">Oficina</a></li>
                    <li><a href="">Estudiantes</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Gamer</a></li>
                </ul>
            </nav>
        </section>

    </header>

    <main>

        <!----------------- CONTENEDOR DE LAS IMAGENES DEL DETALLE DE PRODUCTO ------------------------>
        <section class="imagenes-producto">

            <!----------------- IMAGENES MINIATURA DEL PRODUCTO ------------------------>
            <article class="contenedor-imagenes-pequeñas">
                <div><img src="/img/productos/producto-1.webp" alt=""></div>
                <div><img src="/img/productos/producto-1.webp" alt=""></div>
                <div><img src="/img/productos/producto-1.webp" alt=""></div>
                <div><img src="/img/productos/producto-1.webp" alt=""></div>
            </article>

            <!----------------- IMAGEN PRINCIPAL DEL PRODUCTO ------------------------>
            <article class="contenedor-imagen-principal">
                <img src="/img/productos/producto-1.webp" alt="">
            </article>
        </section>

        <!----------------- CONTENEDOR DE LA INFORMACION DEL PRODUCTO JUNTO A LOS BOTONES DE ACCION ------------------------>
        <section class="contenedor-detalles-producto">

            <!----------------- INFORMACION DEL PRODUCTO ------------------------>
            <article class="informacion-producto">
                <p class="marca">HKC</p>
                <h3>Monitor HKC ANTTEQ F2145M 21.45" 75hz</h3>
                <p class="precio">$ 78.000</p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis assumenda corrupti 
                nulla voluptate, itaque architecto velit at asperiores, accusamus earum distinctio quia, 
                porro aut hic incidunt? Deserunt reiciendis assumenda nisi!</p>
            </article>
            
            <!----------------- AQUI ESTAN LOS BOTONES DE CANTIDAD Y FAVORITOS ------------------------>
            <article class="contenedor-cantidad-favoritos">

                <!----------------- BOTONES PARA AÑADIR LA CANTIDAD DESEADA ------------------------>
                <article class="boton-cantidad">
                    <p>Cantidad:</p> <button>-</button><input type="text" value="1"><button>+</button> 
                </article>

                <!----------------- BOTON PARA AGREGAR A FAVORITOS; FALTA AÑADIR ESA SECCION ------------------------>
                <article class="boton-favoritos">
                    <button><i class="fa-regular fa-heart"></i></button><p>Favoritos</p>
                </article>
            </article>

            <!----------------- BOTONES PARA AGREGAR AL CARRITO Y COMPRAR ------------------------>
            <article class="botones-comprar-carrito">
                <button>Agregar al carrito</button>
                <button>Comprar ahora</button>
            </article>
        </section>
    </main>

    <footer>
        <!----------------- LOGO FOOTER ------------------------>
        <section class="contenedor-logo-footer">
            <img src="/img/logo.webp" alt="Logo pie de pagina">
        </section>

        <!----------------- LINKS DEL FOOTER ------------------------>
        <section class="enlaces">
            <article>
                <a href="" target="_blank">Cambios y devoluciones</a>
                <a href="" target="_blank">Envíos y entregas</a>
                <a href="" target="_blank">Políticas de garantías</a>
                <a href="" target="_blank">Términos y condiciones</a>
            </article>

            <article>
                <a href="" target="_blank">Nosotros</a>
                <a href="" target="_blank">Políticas de privacidad</a>
                <a href="" target="_blank">Preguntas frecuentes</a>
                <a href="" target="_blank">Trabaja con nosotros</a>
            </article>
        </section>

        <!----------------- REDES SOCIALES ------------------------>
        <section class="redes-sociales">
            <article class="contactanos">Contactanos</article>

            <article class="iconos-redes">
                <a href="https://www.youtube.com/" target="_blank"><div>
                    <i class="fa-brands fa-youtube"></i>
                </div></a>

                <a href="https://www.facebook.com/" target="_blank"><div>
                    <i class="fa-brands fa-square-facebook"></i>
                </div></a>

                <a href="https://www.instagram.com/" target="_blank"><div>
                    <i class="fa-brands fa-instagram"></i>
                </div></a>

                <a href="https://www.twitter.com/" target="_blank"><div>
                    <i class="fa-brands fa-twitter"></i>
                </div></a>

                <a href="https://www.linkedin.com/" target="_blank"><div>
                    <i class="fa-brands fa-linkedin"></i>
                </div></a>
            </article>

            <article class="mensaje-inf">
                <p>Tu brújula en el vasto océano tecnológico.</p>
            </article>
        </section>
    </footer>
</body>
</html>