<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
        
        <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
        <section class="menu-sup">

            <article class="contenedor-logo">
                <a href="/">
                    <img src="/img/logo.webp" alt="Logo laguz">
                </a>
            </article>

            <!--------------- FORMULARIO DE BUSQUEDA ------------------>
            <article class="barra-buscar">
                <form action="">
                    <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </article>

            <!------------------ LOGIN Y REGISTER --------------------->
            <article class="login-icon">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </article>

            <article class="cart-icon">
                <a href="/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </article>

        </section>

        <!-------------------- BARRA DE NAVEGACION ------------------------->
        <section class="nav-bar">

            <!----------------- BOTON DESPLEGABLE ------------------------>
            <article class="button-categorias">
                <button name="categorias" id="categorias">
                    <p>Categorias <i class="fa-solid fa-bars"></i></p>
                </button>
            </article>


            <!---------------------- CATEGORIAS -------------------------->
            <nav class="nav-categorias">
                <ul>
                    <li><a href="">Laptops</a></li>
                    <li><a href="">Oficina</a></li>
                    <li><a href="">Estudiantes</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Gamer</a></li>
                </ul>
            </nav>
        </section>

    </header>
    
    <main>
        <!----------------- TITULO ------------------------>
        <section class="titulo">
            <h3>Mi Carrito</h3>
        </section>

        <!----------------- PRODUCTOS Y FINALIZAR COMPRA ------------------------>
        <section class="contenedor-principal">
            <!-------------- SE CREA UN FORMULARIO PARA PODER ENVIAR TODOS LOS PRODUCTOS AL BACKEND -------->
            <form action="" method="post">
                <!----------------- CONTIENE LOS PRODUCTOS QUE SE VAN A COMPRAR ------------------------>
                <article class="contenedor-productos">
                    <article class="encabezado-productos">
                        <div><p>Nombre</p></div>
                        <div><p>Cantidad</p></div>
                        <div><p>Precio</p></div>
                    </article>

                    <!------------ AQUI SE VAN A IR INGRESANDO LOS PRODUCTOS DEL CARRITO -------------->
                    <article class="informacion-producto">
                        <div class="imagen-producto">
                            <img src="/img/productos/producto-1.webp" alt="">
                        </div>

                        <div class="nombre-producto">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>

                        <div class="boton-cantidad">
                            <button>-</button><input type="text" value="1"><button>+</button>
                        </div>

                        <div class="precio-producto">
                            <p>$10.99</p>
                        </div>

                        <div class="boton-eliminar-producto">
                            <button><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </article>

                    <article class="informacion-producto">
                        <div class="imagen-producto">
                            <img src="/img/productos/producto-2.webp" alt="">
                        </div>

                        <div class="nombre-producto">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>

                        <div class="boton-cantidad">
                            <button>-</button><input type="text" value="1"><button>+</button>
                        </div>

                        <div class="precio-producto">
                            <p>$10.99</p>
                        </div>

                        <div class="boton-eliminar-producto">
                            <button><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </article>
                </article>
                
                <!----------------- CONTIENE EL PRECIO TOTAL Y EL BOTON PARA ENVIAR EL FORMULARIO ---------->
                <article class="contenedor-precio-total">
                    <article>
                        <h4>Precio Total:</h4>

                        <p>$2.99</p>
                        <p>$2.99</p>
                        <p>$2.99</p>
                    </article>

                    <article class="precio-total">
                        <p>$ 9.97</p>
                    </article>
                    
                    <!----------------- BOTON PARA FINALIZAR COMPRA Y ENVIAR FORMULARIO ------------------------>
                    <article class="boton-finalizar-compra">
                        <button type="submit">Finalizar Compra</button>
                    </article>
                </article>
            </form>
        </section>
    </main>

    <footer>
        <!----------------- LOGO FOOTER ------------------------>
        <section class="contenedor-logo-footer">
            <img src="/img/logo.webp" alt="Logo pie de pagina">
        </section>

        <!----------------- LINKS DEL FOOTER ------------------------>
        <section class="enlaces">
            <article>
                <a href="" target="_blank">Cambios y devoluciones</a>
                <a href="" target="_blank">Envíos y entregas</a>
                <a href="" target="_blank">Políticas de garantías</a>
                <a href="" target="_blank">Términos y condiciones</a>
            </article>

            <article>
                <a href="" target="_blank">Nosotros</a>
                <a href="" target="_blank">Políticas de privacidad</a>
                <a href="" target="_blank">Preguntas frecuentes</a>
                <a href="" target="_blank">Trabaja con nosotros</a>
            </article>
        </section>

        <!----------------- REDES SOCIALES ------------------------>
        <section class="redes-sociales">
            <article class="contactanos">Contactanos</article>

            <article class="iconos-redes">
                <a href="https://www.youtube.com/" target="_blank"><div>
                    <i class="fa-brands fa-youtube"></i>
                </div></a>

                <a href="https://www.facebook.com/" target="_blank"><div>
                    <i class="fa-brands fa-square-facebook"></i>
                </div></a>

                <a href="https://www.instagram.com/" target="_blank"><div>
                    <i class="fa-brands fa-instagram"></i>
                </div></a>

                <a href="https://www.twitter.com/" target="_blank"><div>
                    <i class="fa-brands fa-twitter"></i>
                </div></a>

                <a href="https://www.linkedin.com/" target="_blank"><div>
                    <i class="fa-brands fa-linkedin"></i>
                </div></a>
            </article>

            <article class="mensaje-inf">
                <p>Tu brújula en el vasto océano tecnológico.</p>
            </article>
        </section>
    </footer>
</body>
</html>