<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
        
        <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
        <section class="menu-sup">

            <article class="contenedor-logo">
                <a href="/">
                    <img src="/img/logo.webp" alt="Logo laguz">
                </a>
            </article>

            <!--------------- FORMULARIO DE BUSQUEDA ------------------>
            <article class="barra-buscar">
                <form action="">
                    <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </article>

            <!------------------ LOGIN Y REGISTER --------------------->
            <article class="login-icon">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </article>

            <article class="cart-icon">
                <a href="/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </article>

        </section>

        <!-------------------- BARRA DE NAVEGACION ------------------------->
        <section class="nav-bar">

            <!----------------- BOTON DESPLEGABLE ------------------------>
            <article class="button-categorias">
                <button name="categorias" id="categorias">
                    <p>Categorias <i class="fa-solid fa-bars"></i></p>
                </button>
            </article>


            <!---------------------- CATEGORIAS -------------------------->
            <nav class="nav-categorias">
                <ul>
                    <li><a href="">Laptops</a></li>
                    <li><a href="">Oficina</a></li>
                    <li><a href="">Estudiantes</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Gamer</a></li>
                </ul>
            </nav>
        </section>

    </header>

    <main>
        <!-- imagenes pequeñas -->
        <section class="imagenes-pequeñas">
            <div class="imagen-pequeña"><img src="imagen1.jpg" alt="imagen 1 de producto"></div>
            <div class="imagen-pequeña"><img src="imagen2.jpg" alt="imagen 2 de producto"></div>
            <div class="imagen-pequeña"><img src="imagen3.jpg" alt="imagen 3 de producto"></div>
        </section>
        <!-- Imagen seleccionada -->
        <div class="imagen-seleccionada"><img src="imagen1.jpg" alt="Producto 1"></div>
        
        <!--descripción del producto -->
        <section class="producto-detalle">
            <div class="descripcion-producto">
                <h2>Nombre del Producto</h2>
                <p>Precio: $XX.XX</p>
                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="cantidad">
                    <button>Añadir al carrito</button>
                    <button>Cantidad</button> <!-- Este botón abriría una ventana/modal para seleccionar la cantidad -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!----------------- LOGO FOOTER ------------------------>
        <section class="contenedor-logo-footer">
            <img src="/img/logo.webp" alt="Logo pie de pagina">
        </section>

        <!----------------- LINKS DEL FOOTER ------------------------>
        <section class="enlaces">
            <article>
                <a href="" target="_blank">Cambios y devoluciones</a>
                <a href="" target="_blank">Envíos y entregas</a>
                <a href="" target="_blank">Políticas de garantías</a>
                <a href="" target="_blank">Términos y condiciones</a>
            </article>

            <article>
                <a href="" target="_blank">Nosotros</a>
                <a href="" target="_blank">Políticas de privacidad</a>
                <a href="" target="_blank">Preguntas frecuentes</a>
                <a href="" target="_blank">Trabaja con nosotros</a>
            </article>
        </section>

        <!----------------- REDES SOCIALES ------------------------>
        <section class="redes-sociales">
            <article class="contactanos">Contactanos</article>

            <article class="iconos-redes">
                <a href="https://www.youtube.com/" target="_blank"><div>
                    <i class="fa-brands fa-youtube"></i>
                </div></a>

                <a href="https://www.facebook.com/" target="_blank"><div>
                    <i class="fa-brands fa-square-facebook"></i>
                </div></a>

                <a href="https://www.instagram.com/" target="_blank"><div>
                    <i class="fa-brands fa-instagram"></i>
                </div></a>

                <a href="https://www.twitter.com/" target="_blank"><div>
                    <i class="fa-brands fa-twitter"></i>
                </div></a>

                <a href="https://www.linkedin.com/" target="_blank"><div>
                    <i class="fa-brands fa-linkedin"></i>
                </div></a>
            </article>

            <article class="mensaje-inf">
                <p>Tu brújula en el vasto océano tecnológico.</p>
            </article>
        </section>
    </footer>
</body>
</html>