<!-- Paritials head -->
 
<%- include('./partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-register.css" }) %>

<body>
    <!--Partials header -->
    <%- include('./partials/header.ejs') %>

    <main>
        
        <!----------------- FORMULARIO DE REGISTRO ------------------------>
        <section class="fondo-register">
            <article class="contenedor-register">
                <form action="" method="post">

                    <!----------------- TITULO DEL FORMULARIO ------------------------>
                    <label class="titulo-register">Registrarse</label>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" required>

                    <label for="contrasenia">Contraseña</label>
                    <input type="password" id="contrasenia" required>

                    <label for="confirmar-contrasenia">Confirmar contraseña</label>
                    <input type="password" id="confirmar-contrasenia" required>

                    <!----------------- VOLVER A LA PAGINA DE LOGIN ------------------------>
                    <a href="/user/login">¿Ya tienes cuenta? Ingresa</a>

                    <!----------------- BOTON DE REGISTRARSE ------------------------>
                    <button type="submit" class="registrarse">Registrarse</button>
                </form>
            </article>

            <!----------------- FRASE PARA RECIBIR A LOS USUARIOS QUE SE REGISTRAN ------------------------>
            <article class="frase-register">
                <p>Explora un mar de posibilidades tecnológicas al abrir la puerta a nuestro mundo digital.</p>
            </article>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>