<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
        
        <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
        <section class="menu-sup">

            <article class="contenedor-logo">
                <a href="/">
                    <img src="/img/logo.webp" alt="Logo laguz">
                </a>
            </article>

            <!--------------- FORMULARIO DE BUSQUEDA ------------------>
            <article class="barra-buscar">
                <form action="">
                    <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </article>

            <!------------------ LOGIN Y REGISTER --------------------->
            <article class="login-icon">
                <a href="/user/login"><i class="fa-solid fa-user"></i></a>
            </article>

            <article class="favorites-icon">
                <a href="/favorites"><i class="fa-solid fa-heart"></i></a>
            </article>
            
            <article class="cart-icon">
                <a href="/product/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
            </article>

        </section>

        <!-------------------- BARRA DE NAVEGACION ------------------------->
        <section class="nav-bar">

            <!----------------- BOTON DESPLEGABLE ------------------------>
            <article class="button-categorias">
                <button name="categorias" id="categorias">
                    <p>Categorias <i class="fa-solid fa-bars"></i></p>
                </button>
            </article>


            <!---------------------- CATEGORIAS -------------------------->
            <nav class="nav-categorias">
                <ul>
                    <li>
                        <a href="">Laptops</a>
                        <div class="nav-gradient"></div>
                    </li>
                    <li>
                        <a href="">Oficina</a>
                        <div class="nav-gradient"></div>
                    </li>
                    <li>
                        <a href="">Estudiantes</a>
                        <div class="nav-gradient"></div>
                    </li>
                    <li>
                        <a href="">Accesorios</a>
                        <div class="nav-gradient"></div>
                    </li>
                    <li>
                        <a href="">Gamer</a>
                        <div class="nav-gradient"></div>
                    </li>
                </ul>
            </nav>
        </section>

    </header>

    <main>
        
        <!----------------- FORMULARIO DE REGISTRO ------------------------>
        <section class="fondo-register">
            <article class="contenedor-register">
                <form action="" method="post">

                    <!----------------- TITULO DEL FORMULARIO ------------------------>
                    <label class="titulo-register">Registrarse</label>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" required>

                    <label for="contrasenia">Contraseña</label>
                    <input type="password" id="contrasenia" required>

                    <label for="confirmar-contrasenia">Confirmar contraseña</label>
                    <input type="password" id="confirmar-contrasenia" required>

                    <!----------------- VOLVER A LA PAGINA DE LOGIN ------------------------>
                    <a href="/user/login">¿Ya tienes cuenta? Ingresa</a>

                    <!----------------- BOTON DE REGISTRARSE ------------------------>
                    <button type="submit" class="registrarse">Registrarse</button>
                </form>
            </article>

            <!----------------- FRASE PARA RECIBIR A LOS USUARIOS QUE SE REGISTRAN ------------------------>
            <article class="frase-register">
                <p>Explora un mar de posibilidades tecnológicas al abrir la puerta a nuestro mundo digital.</p>
            </article>
        </section>
    </main>

    <footer>
        <!----------------- LOGO FOOTER ------------------------>
        <section class="contenedor-logo-footer">
            <img src="/img/logo.webp" alt="Logo pie de pagina">
        </section>

        <!----------------- LINKS DEL FOOTER ------------------------>
        <section class="enlaces">
            <article>
                <a href="" target="_blank">Cambios y devoluciones</a>
                <a href="" target="_blank">Envíos y entregas</a>
                <a href="" target="_blank">Políticas de garantías</a>
                <a href="" target="_blank">Términos y condiciones</a>
            </article>

            <article>
                <a href="" target="_blank">Nosotros</a>
                <a href="" target="_blank">Políticas de privacidad</a>
                <a href="" target="_blank">Preguntas frecuentes</a>
                <a href="" target="_blank">Trabaja con nosotros</a>
            </article>
        </section>

        <!----------------- REDES SOCIALES ------------------------>
        <section class="redes-sociales">
            <article class="contactanos">Contactanos</article>

            <article class="iconos-redes">
                <a href="https://www.youtube.com/" target="_blank"><div>
                    <i class="fa-brands fa-youtube"></i>
                </div></a>

                <a href="https://www.facebook.com/" target="_blank"><div>
                    <i class="fa-brands fa-square-facebook"></i>
                </div></a>

                <a href="https://www.instagram.com/" target="_blank"><div>
                    <i class="fa-brands fa-instagram"></i>
                </div></a>

                <a href="https://www.twitter.com/" target="_blank"><div>
                    <i class="fa-brands fa-twitter"></i>
                </div></a>

                <a href="https://www.linkedin.com/" target="_blank"><div>
                    <i class="fa-brands fa-linkedin"></i>
                </div></a>
            </article>

            <article class="mensaje-inf">
                <p>Tu brújula en el vasto océano tecnológico.</p>
            </article>
        </section>
    </footer>
</body>
</html>