<section class="banner-marcas">
    <article class="slider-box-marcas">
        <ul>
            <li><img src="/img/marcas/marca-1.svg"></li>
            <li><img src="/img/marcas/marca-2.svg"></li>
            <li><img src="/img/marcas/marca-3.svg"></li>
            <li><img src="/img/marcas/marca-4.svg"></li>
            <li><img src="/img/marcas/marca-5.svg"></li>
            <li><img src="/img/marcas/marca-6.svg"></li>
            <li><img src="/img/marcas/marca-7.svg"></li>
            <li><img src="/img/marcas/marca-8.svg"></li>
            <li><img src="/img/marcas/marca-2.svg"></li>
        </ul>
    </article>
</section>