<footer>
    <!----------------- LOGO FOOTER ------------------------>
    <section class="contenedor-logo-footer">
        <img src="/img/logo.webp" alt="Logo pie de pagina">
    </section>

    <!----------------- LINKS DEL FOOTER ------------------------>
    <section class="enlaces">
        <article>
            <a href="" target="_blank">Cambios y devoluciones</a>
            <a href="" target="_blank">Envíos y entregas</a>
            <a href="" target="_blank">Políticas de garantías</a>
            <a href="" target="_blank">Términos y condiciones</a>
        </article>

        <article>
            <a href="" target="_blank">Nosotros</a>
            <a href="" target="_blank">Políticas de privacidad</a>
            <a href="" target="_blank">Preguntas frecuentes</a>
            <a href="" target="_blank">Trabaja con nosotros</a>
        </article>
    </section>

    <!----------------- REDES SOCIALES ------------------------>
    <section class="redes-sociales">
        <article class="contactanos">Contactanos</article>

        <article class="iconos-redes">
            <a href="https://www.youtube.com/" target="_blank"><div>
                <i class="fa-brands fa-youtube"></i>
            </div></a>

            <a href="https://www.facebook.com/" target="_blank"><div>
                <i class="fa-brands fa-square-facebook"></i>
            </div></a>

            <a href="https://www.instagram.com/" target="_blank"><div>
                <i class="fa-brands fa-instagram"></i>
            </div></a>

            <a href="https://www.twitter.com/" target="_blank"><div>
                <i class="fa-brands fa-twitter"></i>
            </div></a>

            <a href="https://www.linkedin.com/" target="_blank"><div>
                <i class="fa-brands fa-linkedin"></i>
            </div></a>
        </article>

        <article class="mensaje-inf">
            <p>Tu brújula en el vasto océano tecnológico.</p>
        </article>
    </section>
</footer>