<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laguz</title>

    <!-- TIPOGRAFIA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <% if (extraFont) { %>
        <link href="<%= extraFont %>" rel="stylesheet">
    <% } %>

    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="<%= stylesheetPath %>">

    <!-- ICONO DE LA PESTAÑA -->
    <link rel="icon" href="/img/icono.png">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>

    <!-- Script dark / light mode -->
    <script src="/scripts/darkMode.js">
        
    </script>
</head>