<header>
    <article class="mensaje-sup">Elige el camino que te lleve a nuevas profundidades digitales</article>
    
    <!---------------- PARTE SUPERIOR DEL HEADER ------------------------->
    <section class="menu-sup">

        <article class="contenedor-logo">
            <a href="/">
                <img src="/img/logo.webp" alt="Logo laguz">
            </a>
        </article>

        <!--------------- FORMULARIO DE BUSQUEDA ------------------>
        <article class="barra-buscar">
            <form action="">
                <input type="text" placeholder="Buscar" id="buscar" name="buscar">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </article>

        <!------------------ LOGIN Y REGISTER --------------------->
        <% if ( locals.userLogged ) { %>
            <article class="login-icon-logged">
                <a href="/user/login"><i class="fa-solid fa-user"></i></a>
            </article>
        <% } else { %>
            <article class="login-icon">
                <a href="/user/login"><i class="fa-solid fa-user"></i></a>
            </article>
        <% } %>
        
        <article class="favorites-icon">
            <a href="/product/productsList/favorites"><i class="fa-solid fa-heart"></i></a>
        </article>
        
        <article class="cart-icon">
            <a href="/product/productcart"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </article>

    </section>

    <!-------------------- BARRA DE NAVEGACION ------------------------->
    <section class="nav-bar">

        <!----------------- BOTON DESPLEGABLE ------------------------>
        <article class="button-categorias">
            <button name="categorias" id="categorias">
                <p>Categorias <i class="fa-solid fa-bars"></i></p>
            </button>
        </article>


        <!---------------------- CATEGORIAS -------------------------->
        <nav class="nav-categorias">
            <ul>
                <li>
                    <a href="/product/productsCategories/laptops">Laptops</a>
                    <div class="nav-gradient"></div>
                </li>
                <li>
                    <a href="/product/productsCategories/oficina">Oficina</a>
                    <div class="nav-gradient"></div>
                </li>
                <li>
                    <a href="/product/productsCategories/estudiantes">Estudiantes</a>
                    <div class="nav-gradient"></div>
                </li>
                <li>
                    <a href="/product/productsCategories/accesorios">Accesorios</a>
                    <div class="nav-gradient"></div>
                </li>
                <li>
                    <a href="/product/productsCategories/gamer">Gamer</a>
                    <div class="nav-gradient"></div>
                </li>
            </ul>
        </nav>
    </section>

</header>