<%- include('../partials/head.ejs', { extraFont: "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap", stylesheetPath: "/css/styles-register.css" }) %>

<body>
    <!--Partials header -->
    <%- include('../partials/header.ejs') %>

    <main>
        
        <!----------------- FORMULARIO DE RESTABLECIMIENTO DE PASSWORD ------------------------>
        <section class="fondo-register">
            <article class="contenedor-register">
                <form action="/user/restPassword" method="post">

                    <!----------------- TITULO DEL FORMULARIO ------------------------>
                    <label class="titulo-register">Restablecer contraseña</label>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="identifier">Usuario o email</label>
                    <input type="text" id="identifierRest" name="identifierRest">
                    <% if (locals.errors && errors.identifierRest) { %>
                        <div class="error">* <%= errors.identifierRest.msg %></div>
                    <% } %>

                    <!----------------- CAMPOS DEL FORMULARIO ------------------------>
                    <label for="password">Codigo de restablecimiento</label>
                    <input type="password" id="password-rest" name="password-rest" value="">

                    <!----------------- VOLVER A LA PAGINA DE LOGIN ------------------------>
                    <a href="/user/login">¿Ya tienes cuenta? Ingresa</a>

                    <!----------------- BOTON DE REGISTRARSE ------------------------>
                    <button type="submit" class="registrarse">Enviar codigo</button>
                </form>
            </article>

            <!----------------- FRASE PARA RECIBIR A LOS USUARIOS QUE SE REGISTRAN ------------------------>
            <article class="frase-register">
                <p>Recupera el acceso a tu cuenta y continúa explorando nuestro mundo digital.</p>
            </article>
        </section>
    </main>

    <!--Partials footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>